
.account-page {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: flex-start;
    
}

.section {
    display: flex;
    flex-direction: column;
    margin: 30px 0 30px 0;
}

.section-header {
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    text-decoration: underline;
    color: #050C4E;   
    margin: 10px 0 10px 0;
}

.user-field {
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    color: #050C4E;
    display: flex;
    margin: 10px 0 0 0;
}

.field-value {
    margin: 0 0 0 10px;
    color: #050C4E;
}

.edit-icon {
    margin: 0 0 0 10px;
    cursor: pointer;
}

.edit-icon:hover {
    color: white;
}