body {
    /*background-image: url("./images/waves1.png"); */
    /* background-image: url("./images/lib-background.avif"); */
    background-size: cover;
    height: 50%;
    aspect-ratio: 900/450;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url('../public/stacked-waves-haikei-2.svg');
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
