.book-desc {
    width: 473px;
    height: 618px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(217, 217, 217);
}

.genre {
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 45px;
    text-align: center;
    color: #1a3ec0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.author {
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title {
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.description {
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #576ec3;
}